@font-face {
    font-family: "SFProText-Regular";
    src: url('SF-Pro-Text-Regular.otf') format("opentype");
}
@font-face {
    font-family: "SFProText-Semibold";
    src: url('SF-Pro-Text-Semibold.otf') format("opentype");
}
@font-face {
    font-family: "SFProText-Bold";
    src: url('SF-Pro-Text-Bold.otf') format("opentype");
}